body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1d1d1d;
}

.contenedor-principal {
    display: flex;
    width: 100%;
    height: 100vh;
}

.lado-izquierdo {
    flex: 1;
    background-color: #00a63a;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lado-izquierdo h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.lado-izquierdo img {
    width: 355px;
    height: 350px;
    margin-bottom: 20px;
}

.lado-derecho {
    flex: 1;
    background-color: #f4f7f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.selector {
    position: absolute;
    top: 20px;
    right: 20px;
}

.selector button {
    padding: 5px 10px;
    border: 1px solid #00a63a;
    background-color: transparent;
    color: #000;
    border-radius: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.selector .activo {
    background-color: #00e676;
    color: #000;
    font-weight: bold;
}

.lado-derecho h2 {
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: bold;
}

.formulario {
    background-color: #00a63a;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 350px;
    min-height: 160px;
    display: flex;
    flex-direction: column;
}

.formulario input {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 6px;
}

.contralink {
    font-size: 13px;
    color: #125B6E;
    margin-top: -10px;
}

.botones {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 15px;
}

.btn-azul {
    background-color: #4888F0;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    flex: 1;
    margin: 0 5px;
}

.btn-google {
    background-color: #db4437;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 120px;
    margin-left: 109px;
    margin-top: 10px;
}