{% extends 'reservas/base.html' %}
{% load static %}

{% block title %}Habitaciones | Hotel Casa Luna{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'reservas/css/galeria.css' %}">
{% endblock %}

{% block content %}
<main>
    {% include "reservas/seccion_destacada.html" with titulo_destacado="Galeria Del Hotel Casa Luna" %}

    <section class="jardin-antioquia text-center py-5 container-fluid" aria-label="Información sobre el hotel">
        <h2 class="mb-3">DISFRUTA DE NUESTRAS IMAGENES</h2>
        <h1 class="mb-4">Hotel Casa Luna</h1>
        <p class="lead mx-auto">
            En el hermoso pueblo de Jardín, Antioquia, lleno de historia, colores y tradiciones, se encuentra Hotel
            Casa Luna,
            un lugar acogedor donde el descanso y la cultura se viven en cada detalle.
            Con una arquitectura típica, atención cercana y ambiente tranquilo, te invitamos a disfrutar de una
            experiencia
            auténtica en uno de los destinos más encantadores de Colombia.
            Ya sea para relajarte, explorar el pueblo o reconectarte contigo mismo,
            en Casa Luna encontrarás el espacio ideal para tu próxima escapada.
        </p>
    </section>

    <section class="gallery">
        <img src="{% static 'reservas/img/img-6.jpg' %}" alt="Imagen-1">
        <img src="{% static 'reservas/img/img-7.jpg' %}" alt="Imagen-2">
        <img src="{% static 'reservas/img/img-8.jpg' %}" alt="Imagen-3">
        <img src="{% static 'reservas/img/img-9.jpg' %}" alt="Imagen-4">
        <img src="{% static 'reservas/img/img-10.jpg' %}" alt="Imagen-5">
        <img src="{% static 'reservas/img/img-11.jpg' %}" alt="Imagen-6">
        <img src="{% static 'reservas/img/img-12.jpg' %}" alt="Imagen-7">
        <img src="{% static 'reservas/img/baño-1.jpg' %}" alt="Imagen-">
        <img src="{% static 'reservas/img/img-13.jpg' %}" alt="Imagen-8">
        <img src="{% static 'reservas/img/img-14.jpg' %}" alt="Imagen-9">
        <img src="{% static 'reservas/img/habi-inidividual.jpg' %}" alt="Imagen-10">
        <img src="{% static 'reservas/img/habi_doble.jpg' %}" alt="Imagen-11">
        <img src="{% static 'reservas/img/img-principal.jpg' %}" alt="Imagen-12">
        <img src="{% static 'reservas/img/habi-familiar.jpg' %}" alt="Imagen-13">
        <img src="{% static 'reservas/img/img-5.jpg' %}" alt="Imagen-14">
        <img src="{% static 'reservas/img/img-4.jpg' %}" alt="Imagen-15">
        <img src="{% static 'reservas/img/img-2.jpg' %}" alt="Imagen-16">
        <img src="{% static 'reservas/img/img-3.jpg' %}" alt="Imagen-17">
        <br><br>
    </section>
</main>


{% endblock %}

{% block scripts %}
{{ block.super }}
{% endblock %}