.collapse {
    padding-left: 40px;
}

.call-to-action { 
    font-size: 1.2em;
    font-weight: 600;
    color: #555;
    margin-top: 25px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    max-width: 900px;
    margin: auto;
    margin-left: 57px;
}


.gallery img {
    width: 400px; /* o el tamaño que prefieras */
    height: 600px; /* o el tamaño que prefieras */
    object-fit: cover;
    border-radius: 10px;;
}