{% load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}Inicio de sesión {%endblock%}</title>
    <link rel="stylesheet" href="{% static 'administrador/css/modificar.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Forum&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet" />

</head>
<body>
    <main>
        <div class="contenedor-principal">
            <div class="lado-izquierdo">
                <h1>Hotel</h1>
                <img src="{% static 'administrador/img/logotipo.png' %} ">
            </div>
        <div class="lado-derecho">
            <h2 class="titulo-i">Modificar habitacion </h2>
            <div class="formulario">
                <label for="p-nombre" class="l-1">Numero de habitacion</label>
                <br>
                <input type="p-nombre" id="p-nombre" name="p-nombre" class="i-1">
                <br>
                <label for="s-nombre" class="l-2">Descripcion</label>
                <br>
                <input type="s-nombre" id="s-nombre" name="s-nombre" class="i-2">
                <br>
                <label for="p-apellido" class="l-3">Valor de habitacion</label>
                <br>
                <input type="p-apellido" id="p-apellido" name="p-apellido" class="i-3">  
                <form action="{% url 'ver_habitacion' %}">
                    <button type="submit" class="btn btn-danger">Confirmar</button>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>
