{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hotel Casa Luna{% endblock %}</title> 
    <link href="https://fonts.googleapis.com/css2?family=Forum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'administrador/css/perfil.css' %}" />

</head>
<body>
    <main>
        <div class="contenedor-principal">
            <div class="lado-izquierdo">
                <h1>Hotel</h1>
                <img src="{% static 'administrador/img/logotipo.png' %} ">

            </div>
            <div class="lado-derecho">
                <h2 class="titulo-i">Datos del usuario </h2>

                <div class="formulario">
                    <label for="Usuario" class="l-1">Nombre de Usuario</label>
                    <br>
                    <input type="usuario" id="usuario" name="usuario" class="i-1">
                    <br>
                    <label for="nombre" class="l-2">Nombre</label>
                    <br>
                    <input type="nombre" id="nombre" name="nombre" class="i-2">
                    <br>
                    <label for="apellido" class="l-3">Apellido</label>
                    <br>
                    <input type="apellido" id="apellido" name="apellido" class="i-3">
                    <br>
                    <label for="Correo" class="l-4">Correo-electronico</label>
                    <br>
                    <input type="Correo" id="Correo" name="Correo" class="i-4">
                    <br>
                    <label for="telefono" class="l-5">Telefono</label>
                    <br>
                    <input type="telefono" id="telefono" name="telefono" class="i-5">  

                    <form action="{% url 'home'%}">
                        <button type="submit" class="btn btn-danger">Continuar</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>

</html>
