/*encabezado*/
body {
    margin: 0;
    padding: 0;
    background-color: #DDEBEE;
}

header {
    width: auto;
    background-color: #18743a;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 1rem 2rem;
    margin-top: -20px;
    height: 120px;
    
}

/*logo*/
.logo {
    height: 60px;
    position: absolute;
    margin-top: 17px;
    margin-left: -30px;

}

.titulo{
  margin-left: 470px;
  margin-top: 30px;
}

.cerrar{
  background-color: #ffffff; /* Color de fondo del botón */
  border: none;
  padding: 5px 10px;
  border-radius: 10px;  
  margin-left: 1070px;
  width: 120px;
  height: 40px;
  margin-top: -10px;
  position: absolute;
  color: #000000;
}

.cerrar:hover{
  transform: scale(1.03);
  background-color: #d3d3d3;
}

@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
nav {
  padding: 15px 30px;
  position: absolute;
  margin-top: 190px;
  width: 1200px;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 200px;
  margin-top: -115px;
  font-size: 25px;
}

.menu > li {
  position: relative;
  margin-right: 0px;
  margin-left: -30px;

}

.menu > li > a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  display: flex;
  align-items: center;
  font-family: "Forum", serif;
  margin-left: 15px;
  margin-right: 80px; /* Añadido para separar más los elementos */
}

.menu > li:last-child > a {
  margin-right: 0; /* Elimina el margen derecho del último enlace para evitar espacio extra */
}

.menu > li:hover {
  color: #f0c040;

}

.submenu {
  display: none;
  position: absolute;
  background-color: #444;
  top: 40px;
  left: 0;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  min-width: 160px;
  border-radius: 5px;
}

.submenu li a {
  display: block;
  padding: 8px 20px;
  color: white;
  text-decoration: none;
}

.submenu li a:hover {
  background-color: #555;
}

.menu > li:hover .submenu {
  display: block;
}

.mini-boton {
    margin-left: 5px;
    font-size: 12px;
}

.menu li {
  color: #000000;
}
/*fin del header*/


/*inicio del main*/

.home{
  background-image: url("/img/hotel.jpg");
  background-size: cover;     
  width: auto;
  height: 532px;
}

.home h1{
  position: absolute;
  margin-top: 200px ;
  margin-left: 550px;
  color: white;
  font-size:6em;
  font-family: "bodoni moda", serif;
}

.home h2{
  position: absolute;
  margin-left: 480px;
  margin-top: 330px;
  color: white;
  font-family: "forum", serif;
}

.parrafo {
    text-align: center;
    padding: 40px 20px;
    margin-bottom: 20px;
}

.small-text {
    font-size: 0.9em;
    color: #6a6a6a;
    margin-bottom: 5px;
}

h1 {
    font-size: 2.5em;
    color: #333;
    margin-top: 10px;
    margin-bottom: 20px;
}

.description-text {
    font-size: 1.1em;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 5px;
}

.call-to-action {
    font-size: 1.2em;
    font-weight: 600;
    color: #555;
    margin-top: 25px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    max-width: 900px;
    margin: auto;
    margin-left: 85px;
    margin-top: 40px;
}


.gallery img {
    width: 400px; /* o el tamaño que prefieras */
    height: 600px; /* o el tamaño que prefieras */
    object-fit: cover;
    border-radius: 10px;;
}

.btn.btn-danger {
    background-color: #18743a;
    color: white; 
    border: none; 
    padding: 15px 50px; 
    border-radius: 10px; 
    cursor: pointer; 
    margin-left: 730px;
    margin-top: -50px;
    position: absolute;
}

.btn.btn-danger:hover {
    background-color: #145a2c; 
    transform: scale(1.05);
}

.b-editar{
    margin-left: -70px;
}


/*fin de main*/

/*inicio de footer*/
footer{
  width: auto;
  background-color: #18743a;
  color: white;
  height: 280px;
  margin-top: 20px;
  
}

.centro{
  margin-left: 500px ;
  margin-top: 50px;
  position: absolute;

}

footer a{
  display: inline-block; 
  color: white; 
  text-decoration: none; 
  border-radius: 5px;
}

footer a:hover{
  color: #000000;
}

ul{
  list-style: none;
}

.derechos{
  margin-left: 1000px;
  position: absolute;
  margin-top: 50px;
  font-size: -3em;
}

.descripcion{
  position: absolute;
  margin-top: 230px;
}

.creadores{
  margin-left: 600px;
}

.s-logo{
  position: absolute;
  margin-top: 60px;
  height: 100px;
  margin-left: 100px;
}

.empresa{
  margin-top: 160px;
  position: absolute;
  margin-left: 100px;
}
/*fin de footer*/