/*encabezado*/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #DDEBEE;
}
header {
    width: auto;
    background-color: #18743a;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 1rem 2rem;
    margin-top: -20px;
    height: 120px;
    
}

/*logo*/
.logo {
    height: 60px;
    position: absolute;
    margin-top: 17px;
    margin-left: -30px;

}

.titulo{
  margin-left: 470px;
  margin-top: 30px;
}

.cerrar{
  background-color: #ffffff; /* Color de fondo del botón */
  border: none;
  padding: 5px 10px;
  border-radius: 10px;  
  margin-left: 1070px;
  width: 120px;
  height: 40px;
  margin-top: -10px;
  position: absolute;
  color: #000000;
}

.cerrar:hover{
  transform: scale(1.03);
  background-color: #d3d3d3;
}

@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
nav {
  padding: 15px 30px;
  position: absolute;
  margin-top: 190px;
  width: 1200px;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 200px;
  margin-top: -115px;
  font-size: 25px;
}

.menu > li {
  position: relative;
  margin-right: 0px;
  margin-left: -30px;

}

.menu > li > a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  display: flex;
  align-items: center;
  font-family: "Forum", serif;
  margin-left: 15px;
  margin-right: 80px; /* Añadido para separar más los elementos */
}

.menu > li:last-child > a {
  margin-right: 0; /* Elimina el margen derecho del último enlace para evitar espacio extra */
}

.menu > li:hover {
  color: #f0c040;

}

.submenu {
  display: none;
  position: absolute;
  background-color: #444;
  top: 40px;
  left: 0;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  min-width: 160px;
  border-radius: 5px;
}

.submenu li a {
  display: block;
  padding: 8px 20px;
  color: white;
  text-decoration: none;
}

.submenu li a:hover {
  background-color: #555;
}

.menu > li:hover .submenu {
  display: block;
}

.mini-boton {
    margin-left: 5px;
    font-size: 12px;
}

.menu li {
  color: #000000;
}
/*fin del header*/


/*inicio del main*/

.home{
  background-image: url("/img/hotel.jpg");
  background-size: cover;     
  width: auto;
  height: 532px;
}

.home h1{
  position: absolute;
  margin-top: 200px ;
  margin-left: 300px;
  color: white;
  font-size:6em;
  font-family: "bodoni moda", serif;
}

.home h2{
  position: absolute;
  margin-left: 400px;
  margin-top: 330px;
  color: white;
  font-family: "forum", serif;
}

.mini-titulo{
  text-align: center;
}

.informacion {
  width: 1200px;
  text-align: center;
  line-height: 1.8;
  padding: 40px 20px;
  margin: 0 ;
}

.texto {
  font-family: "forum", serif;
  font-size: 1.2em;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
}

.subtitulo{
  text-align: center;
  font-size: 5em;
  font-family: "forum", serif;
  margin-top: -10px;
}

.texto-p{
  font-family: "foru", serif;
  font-size: 1.2em;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
}

.habitacion {
  width: 1200px;
  height: 350px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.titulo-h{
  font-size: 1.7em;
  font-family: "forum", serif;
  margin-top: 20px;
  margin-left: 75px;
  position: absolute;
}

.imagen{
  height: 150px;
  width: 300px;
  margin-left: 30px;
  border-radius: 20px;
  margin-top: 60px;
}

.descripcion-b{
  font-family: "forum", serif;
  font-size: 1.2em;
  margin-left: 400px;
  margin-top: -150px;
  width: 600px;
}
.descripcion-h{
  font-size: 1.0,9em;
  margin-left: 400px;
  margin-top: 10px;
  width: 700px;
}

.iconos{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 300px;
}

.bi.bi-wifi{
  color: #18743a;
  font-size: 2em;
  margin-left: 100px;
}
.bi.bi-tv{
  color: #18743a;
  font-size: 2em;
  margin-left: 60px;
}
.bi.bi-clock-history{
  color: #18743a;
  font-size: 2em;
  margin-left: 60px;
}
.bi.bi-thermometer-half{
  color: #18743a;
  font-size: 2em;
  margin-left: 60px;
}

.bi.bi-people-fill{
  color: #18743a;
  font-size: 2em;
  margin-left: 60px;
}

.fas.fa-shower{
  color: #18743a;
  font-size: 2em;
  margin-left: 60px;
  margin-top: 5px;
}

.pesos{
  font-size: 1.5em;
  margin-left: 995px;
  margin-top: -185px;
  position: absolute;
  font-weight: bold;
}

.precio{
  font-size: 1.3em;
  margin-left: 1060px;
  margin-top: -180px;
  position: absolute;
}

.btn.btn-danger{
  position: absolute;
  margin-left: 550px;
  margin-top: 20px;
  width: 120px;
  height: 40px;
  font-size: 1em;
  font-family: "forum", serif;
  background-color: #18743a;
  border: none;
}

.btn.btn-danger:hover{
  background-color: #145a2b;
  transform: scale(1.03);
  color: white;
}
/*fin de main*/
/*inicio de footer*/
footer{
  width: auto;
  background-color: #18743a;
  color: white;
  height: 280px;
  
}

.centro{
  margin-left: 500px ;
  margin-top: 50px;
  position: absolute;

}

footer a{
  display: inline-block; 
  color: white; 
  text-decoration: none; 
  border-radius: 5px;
}

footer a:hover{
  color: #000000;
}

ul{
  list-style: none;
}

.derechos{
  margin-left: 1000px;
  position: absolute;
  margin-top: 50px;
  font-size: -3em;
}

.descripcion{
  position: absolute;
  margin-top: 230px;
}

.creadores{
  margin-left: 600px;
}

.s-logo{
  position: absolute;
  margin-top: 60px;
  height: 100px;
  margin-left: 100px;
}

.empresa{
  margin-top: 160px;
  position: absolute;
  margin-left: 100px;
}
/*fin de footer*/

